<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
      // https://github.com/browner12/smoozza/blob/700e88e495bf338876ae2da2a2ca4d9d8c04073d/resources/views/includes/googlemaps.blade.php
    </script>
    <script type="text/javascript">


      function initialize() {
        var myLatlng = new google.maps.LatLng(40.4229014,-3.6976351);
        var mapOptions = {
          center: { lat: 40.422, lng: -3.697},
          zoom: 15
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Hello World!'
        });

        var prop_obj = <%= $json %>;
        // var prop_obj = eval('(' + json_string + ')');
        console.log(prop_obj);
        //console.log(prop_obj[2].address);
        //console.log(prop_obj[3]['address']);

        console.log('hello world');
        for (var i=0; i<prop_obj.length; i++)
        {
            console.log(i);
            console.log(prop_obj[i].address);
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(prop_obj[i]["latitude"], 
                                               prop_obj[i]["longitude"]),
              map: map,
              title: prop_obj[i]["address"],
              url: prop_obj[i].url
            });
            google.maps.event.addListener(marker, 'click', function() {
              window.location.href = "http://" + marker.url;
            });
        }

//        for(var i=0;i<arr.length;i++){
//            var obj = arr[i];
 //           for(var key in obj){
  //              var attrName = key;
   //             var attrValue = obj[key];
     //       }
    //    }

      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>
